@page "/admin"

<h3>Admin Login Page</h3>

<form method="post">
    <div>
        <input type="text" id="username" name="username" placeholder="Username" required />
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

@code {

}
