@model AttendanceTracker.Models.ViewModels.AuthenticationVM

@{
    ViewData["Title"] = "Authentication";
}

<h1>Record attendance</h1>

@if (Model)
<button type="submit" class="w-100 btn btn-lg btn-primary">Check In</button>
<button type="submit" class="w-100 btn btn-lg btn-primary">Check Out</button>