@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Welcome to Attendance Tracker, login to continue.</h2>
<div class="container button-container">
    <div class="row justify-content-center">
        <a
            type="button"
            class="btn btn-primary btn-lg"
            style="width: 400px;"
            id="login" asp-area="Identity" asp-page="/Account/Login"
        >
            <i class="bi bi-box-arrow-in-right"></i>
            Go to Login Page
        </a>
    </div>
</div>
<br />

