@inherits LayoutComponentBase

<div class="page">
    <main>
        <!-- need to specify the login page as '/' so that it gets rendered -->
        <!-- otherwise, we will fail loading the other page eg: '/admin-menu' -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
