@* @inherits LayoutComponentBase *@
@using AttendanceTrackerWeb.Data

@*
<div class="page">
    <div class="sidebar">
    </div>
</div>
*@
<NavMenu NavigationItems="SidebarItems"/>

@code {
    [Parameter]
    public List<NavigationItem> SidebarItems { get; set; }
}
