@* @inherits LayoutComponentBase *@
@using AttendanceTrackerWeb.Data

<div class="page">
    <div class="sidebar">
        <NavMenu NavigationItems="SidebarItems"/>
    </div>
</div>

@code {
    [Parameter]
    public List<NavigationItem> SidebarItems { get; set; }
}
