
<input type="hidden" id="employeeId" value="@ViewBag.EmployeeId" />
<table id="attendanceTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date (yyyy-MM-dd)</th>
            <th>Employee Name</th>
            <th>Working Hours</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/Admin/attendance.js"></script>
}