<h1>Displaying all working records of each employee</h1>

<table id="employeeTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee Name</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/employee.js"></script>
}