<h1>Displaying all working records of each employee</h1>

<input type="hidden" id="employeeId" value="@ViewBag.EmployeeId" />
<table id="employeeTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee Name</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/Admin/employee.js"></script>
}