@model AttendanceTracker.Models.ViewModels.AuthenticationVM

@{
    ViewData["Title"] = "Authentication";
}

<h1>Record attendance</h1>

@if ((Model.AttendanceTrackerState == SD.AttendanceState.CheckIn) || (Model.AttendanceTrackerState == SD.AttendanceState.CheckInBreak))
{
    <button type="submit" class="w-100 btn btn-lg btn-primary">Check In</button>
}
else
{
    <button type="submit" class="w-100 btn btn-lg btn-primary">Check Out</button>
}