@page "/admin-login"

@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime

@using APIClasses
@using System.Text.Json;
@using System.Text.Json.Serialization;

<h3>Admin Login Page</h3>

<form @onsubmit="Login">
    <div>
        <input type="text" id="username" name="username" placeholder="Username" required @bind="username" />
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Password" required @bind="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

@code {
    private static readonly string _apiurl = "https://localhost:7178/api/AttendanceTrackerApplication/";

    private string? username;
    private string? password;

    public async void Login()
    {
        if (username == null || password == null)
        {
            ShowAlert("Admin and password field cannot be blank");
            return;
        }

        string route = _apiurl + "get-admin/" + username;
        var response = await HttpClient.GetAsync(route);

        if ((int)response.StatusCode != HttpResponseStatus.OK)
        {
            ShowAlert("User does not exist!");
            return;
        }

        AdminAPI? admin = await response.Content.ReadFromJsonAsync<AdminAPI>();

        if (!admin.Password.Equals(password))
        {
            ShowAlert("Password for " + admin.Name + " is incorrect!");
            return;
        }

        ShowAlert("Login Successful!");
    }

    private void ShowAlert(string message)
    {
        jsRuntime.InvokeVoidAsync("alert", message);
    }
}
