@page "/register-new-user"

@using APIClasses

@inject IJSRuntime jsRuntime
@inject HttpClient HttpClient
@inject NavigationManager Navigation

@layout AdminMenu // we use the same sidebar menu across all the admin menus page

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-4">
            <h1 class="display-4 text-center mb-4">Registration</h1>
            <form @onsubmit="Register">
                <div class="form-group mb-3">
                    <input class="form-control" type="text" placeholder="Username" @bind="Username" required />
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" type="password" placeholder="Password" @bind="Password" required />
                </div>
                <div class="form-group mb-3">
                    <select class="custom-select" @bind="Department">
                        @foreach (var item in departments)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private static readonly string API_URL = APILinks.API_URL_APPLICATION_DEVELOPMENT;
    private static readonly string APPLICATION_DEPLOYMENT_API_URL = APILinks.API_URL_APPLICATION_DEPLOYMENT;

    private List<DepartmentAPI> departments { get; set; } = new List<DepartmentAPI>();
    private string? Username { get; set; }
    private string? Password { get; set; }
    private string? Department { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // string route = API_URL + "get-departments";
        string route = APPLICATION_DEPLOYMENT_API_URL + "get-departments";

        var response = await HttpClient.GetAsync(route);

        if (response.IsSuccessStatusCode)
        {
            departments = await response.Content.ReadFromJsonAsync<List<DepartmentAPI>>();
            Department = departments[0].Name;
        }
        else
        {
            ShowAlert("Failed to load departments");
        }
    }

    public async void Register()
    {
        StaffAPI staff = new StaffAPI();
        staff.Name = Username;
        staff.Password = Password;
        staff.Department = Department;

        // string route = APPLICATION_DEPLOYMENT_API_URL + "add-staff";
        string route = API_URL + "add-staff";
        var response = await HttpClient.PostAsJsonAsync(route, staff);

        if (response.IsSuccessStatusCode)
        {
            ShowAlert("User registered");
            Navigation.NavigateTo("/admin-menu");
        }
        else
        {
            ShowAlert("Unable to register new user");
        }
    }

    private void ShowAlert(string msg)
    {
        jsRuntime.InvokeVoidAsync("alert", msg);
    }
}
