@* this inheritance is used to allow layout on admin menu across different files *@
@inherits LayoutComponentBase

@using AttendanceTrackerWeb.Data
@using AttendanceTrackerWeb.Shared

@inject NavigationManager Navigation

@page "/admin-menu"

<div class="page">
    <div class="sidebar">
        <Sidebar SidebarItems="AdminMenus"/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public List<NavigationItem> AdminMenus { get; set; } = new List<NavigationItem>
    {
        new NavigationItem { Url = "report", IconText = "clipboard", Label = "Report"},
        new NavigationItem { Url = "register-new-user", IconText = "person", Label = "Register"},
        new NavigationItem { Url = "admin-qr", IconText ="clock", Label = "Attendance QR"},
        new NavigationItem { Url = "add-department", IconText ="plus", Label = "Add Department"}
    };

    protected override async Task OnInitializedAsync()
    {
        Navigation.NavigateTo("report");
    }
}
