@using Microsoft.AspNetCore
@using System.Drawing
@using QRCoder
@using System.Drawing.Imaging

@layout AdminMenu // we use the same sidebar menu across all the staff menus page

@page "/staff-qr/{Username}"

<h3>@Username Menu</h3>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    [Parameter]
    public string Username { get; set; } = "";
}

