@page "/staff-attendance-record"
@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation

@using APIClasses
@using System.Text;
@using System.Text.Json;
@using System.Text.Json.Serialization;

<PageTitle>AttendanceTrackerWeb</PageTitle>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-4">
            <h1 class="display-4 text-center mb-4">Attendance Tracker</h1>
            <textarea>Time: @CurrentTime</textarea>
            <!--
            <form @onsubmit="CheckInSubmit">
                <div class="form-group mb-3">
                    <input class="form-control" type="text" placeholder="Username" @bind="Username" required />
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Check In</button>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Check Out</button>
                </div>
            </form>
            -->
            <form>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" placeholder="Username" @bind="Username" required />
                </div>
                <div class="form-group text-center">
                    <button class="check-in" type="submit" @onclick="CheckInSubmit">Check In</button>
                </div>
                <div class="form-group text-center">
                    <button class="check-out" type="submit" @onclick="CheckOutSubmit">Check Out</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private static readonly string APPLICATION_API_URL_DEPLOYMENT = APILinks.API_URL_APPLICATION_DEPLOYMENT;
    private static readonly string APPLICATION_API_URL_DEVELOPMENT = APILinks.API_URL_APPLICATION_DEVELOPMENT;
    private static readonly string IS_STAFF_EXIST = "is-staff-exist/";
    private static readonly string GET_STAFF = "get-staff/";
    private static readonly string ADD_WORKDAY_RECORD = "add-workday-record/";

    public string? Username { get; set; }
    public string? CurrentTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentTime = DateTime.Now.ToString();
    }

    public async void CheckInSubmit()
    {
        // string route_timesheet_checkin = APPLICATION_API_URL_DEPLOYMENT + "checkin";
        string route_timesheet_checkin = APPLICATION_API_URL_DEVELOPMENT + "checkin";

        TimesheetAPI timesheet = new TimesheetAPI();
        timesheet.Username = this.Username;
        timesheet.CurrentTime = this.CurrentTime;

        // var json = JsonContent.Create(timesheet);
        ShowAlert("Submitting check in");
        var response = await HttpClient.PostAsJsonAsync(route_timesheet_checkin, timesheet);
        ShowAlert("Done check in");

        // Either the timesheet is created (Status = CREATED) upon new check in for the day
        // or it is being updated (Status = ACCEPTED) when user check in again after check out
        bool requestSuccess = false;
        string route = "/timesheet-submitted-info/" + Username + "/" + timesheet.CurrentTime.ToString() + "/" + requestSuccess;
        ShowAlert("Passed: " + route);
        if ((int) response.StatusCode == HttpResponseStatus.CREATED || 
            (int) response.StatusCode == HttpResponseStatus.ACCEPTED)
        {
            requestSuccess = true;
            string route_info = "/timesheet-submitted-info/" + Username + "/" + timesheet.CurrentTime.ToString() + "/" + requestSuccess;
            ShowAlert("Passed: " + route_info);
            //Navigation.NavigateTo(route_info);
        }
        else
        {
            //ShowAlert("Timesheet submission failed!");
            string route_info = "/timesheet-submitted-info/" + Username + "/" + timesheet.CurrentTime.ToString() + "/" + requestSuccess;
            ShowAlert("Failed: " + route_info);
            //Navigation.NavigateTo(route_info);
        }
    }

    public async void CheckOutSubmit()
    {
        // string route_timesheet_checkout = APPLICATION_API_URL_DEPLOYMENT + "checkout/" + Username + "/" + CurrentTime;
        string route_timesheet_checkout = APPLICATION_API_URL_DEVELOPMENT + "checkout/" + Username + "/" + CurrentTime;

        var content = new StringContent(string.Empty);
        // ERROR: no response after clicking checkin or checkout
        // FIXME: try posting a real object instead of string like this
        var response = await HttpClient.PostAsync(route_timesheet_checkout, content);

        if ((int) response.StatusCode == HttpResponseStatus.ACCEPTED)
        {
            ShowAlert("Check out submitted");
        }
        else
        {
            var errorContent = response.Content.ReadAsStringAsync();
            var errorMessage = $"Error: {errorContent}";
            ShowAlert(errorMessage);
        }
    }


        /*
    public async void CheckInSubmit()
    {
        string route_timesheet_submit = APPLICATION_API_URL_DEPLOYMENT + 
        string route_staff_exist = APPLICATION_API_URL_DEPLOYMENT + IS_STAFF_EXIST + Username;        
        var response = await HttpClient.GetAsync(route_staff_exist);

        if ((int)response.StatusCode == HttpResponseStatus.OK)
        {
            // Constructing staff object for workday
            string route_staff = APPLICATION_API_URL_DEPLOYMENT + GET_STAFF + Username;        
            var response_staff = await HttpClient.GetAsync(route_staff);

            if ((int)response_staff.StatusCode == HttpResponseStatus.OK)
            {
                string route_submit_workday = APPLICATION_API_URL_DEPLOYMENT + ADD_WORKDAY_RECORD;

                string alignedDateFormat = AlignDateFormat(CurrentTime);
                StaffAPI staff = await response_staff.Content.ReadFromJsonAsync<StaffAPI>();

                WorkdayRecordAPI staffWorkday = new WorkdayRecordAPI();
                DateTime alignedDateTime = DateTime.Parse(AlignDateFormat(CurrentTime));
                staffWorkday.Date = alignedDateTime;

                staffWorkday.CheckIn = alignedDateTime;
                staffWorkday.CheckOut = alignedDateTime;
                staffWorkday.StaffName = Username;

                staffWorkday.Staff = staff;

                var response_workday = await HttpClient.PostAsJsonAsync(route_submit_workday, staffWorkday);

                // var response_workday = await HttpClient.SendAsync(request);
                if ((int)response_workday.StatusCode == HttpResponseStatus.CREATED)
                {
                    ShowAlert("Check in submitted");
                    // TODO: report to tell user check in completed
                    //       stating current check in time
                    return; // this should be removed when TODO done
                }
                else
                {
                    ShowAlert("Error occured");
                    return;
                }
            }
            else
            {
                ShowAlert("Could not load staff");
                return;
            }
        }
        else
        {
            ShowAlert("User does not exist!");
            return;
        }
        // Navigation.NavigateTo("admin-menu");
        // NavigationManager.NavigateTo("admin-menu");
    }

    public async void CheckOutSubmit()
    {
        StaffAPI staff = await GetStaff();
        if (staff == null)
        {
            return;
        }

        // Constructing workday object for staff, ONLY if staff is VALID
        string route_submit_workday = APPLICATION_API_URL_DEPLOYMENT + ADD_WORKDAY_RECORD;

        string alignedDateFormat = AlignDateFormat(CurrentTime);

        WorkdayRecordAPI staffWorkday = new WorkdayRecordAPI();
        DateTime alignedDateTime = DateTime.Parse(AlignDateFormat(CurrentTime));
        staffWorkday.Date = alignedDateTime;

        staffWorkday.CheckIn = alignedDateTime;
        staffWorkday.CheckOut = alignedDateTime;
        staffWorkday.StaffName = Username;

        staffWorkday.Staff = staff;

        // TODO: use PUT here
        var response_workday = await HttpClient.PostAsJsonAsync(route_submit_workday, staffWorkday);

        // var response_workday = await HttpClient.SendAsync(request);
        if ((int)response_workday.StatusCode == HttpResponseStatus.CREATED)
        {
            ShowAlert("Check in submitted");
            // TODO: report to tell user check in completed
            //       stating current check in time
            return; // this should be removed when TODO done
        }
        else
        {
            ShowAlert("Error occured");
            return;
        }

        // Navigation.NavigateTo("admin-menu");
        // NavigationManager.NavigateTo("admin-menu");
    }
    */

    private async Task<StaffAPI> GetStaff()
    {
        // string route_staff_exist = APPLICATION_API_URL_DEPLOYMENT + IS_STAFF_EXIST + Username;        
        string route_staff_exist = APPLICATION_API_URL_DEVELOPMENT + IS_STAFF_EXIST + Username;        

        var response = await HttpClient.GetAsync(route_staff_exist);

        if ((int)response.StatusCode == HttpResponseStatus.OK)
        {
            string route_staff = APPLICATION_API_URL_DEPLOYMENT + GET_STAFF + Username;        
            var response_staff = await HttpClient.GetAsync(route_staff);
            if ((int)response_staff.StatusCode == HttpResponseStatus.OK)
            {
                StaffAPI staff = await response_staff.Content.ReadFromJsonAsync<StaffAPI>();
                return staff;
            }
            else
            {
                ShowAlert("Could not load staff");
                return null;
            }
        }
        else
        {
            ShowAlert("User does not exist!");
            return null;
        }
    }


    private void ShowAlert(string message)
    {
        jsRuntime.InvokeVoidAsync("alert", message);
    }
}

