@inherits LayoutComponentBase
@using AttendanceTrackerWeb.Data
@using AttendanceTrackerWeb.Shared
@inject NavigationManager Navigation

@page "/staff-menu/{Username}"

<div class="page">
    <div class="sidebar">
        <Sidebar SidebarItems="StaffMenus"/>
    </div>

    <main>
        <article class="context px-4">
            @Body
        </article>
    </main>
</div>


@code {
    [Parameter]
    public string Username { get; set; } = "";

    public List<NavigationItem> StaffMenus { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StaffMenus = new List<NavigationItem>
        {
            new NavigationItem { Url = "staff-qr/" + Username, IconText = "camera-slr", Label = "Attendance QR"},
        };
    }
}
