@page "/staff-attendance-record"
@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation

@using APIClasses
@using System.Text.Json;
@using System.Text.Json.Serialization;


<PageTitle>AttendanceTrackerWeb</PageTitle>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-4">
            <h1 class="display-4 text-center mb-4">Attendance Tracker</h1>
            <form @onsubmit="Submit">
                <div class="form-group mb-3">
                    <input class="form-control" type="text" placeholder="Username" @bind="Username" required/>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private static readonly string API_URL_DEPLOYMENT = "https://attendancetrackerapplication.azurewebsites.net/api/AttendanceTrackerApplication/";

    public string? Username { get; set; }

    public async void Submit()
    {
        string route = API_URL_DEPLOYMENT + "is-staff-exist/" + Username;        
        var response = await HttpClient.GetAsync(route);

        // DELETE this, this is for testing only
        if ((int) response.StatusCode == HttpResponseStatus.OK)
        {
            ShowAlert("User exist");
            return;
        }

        if ((int)response.StatusCode != HttpResponseStatus.OK)
        {
            ShowAlert("User does not exist!");
            return;
        }


        // Navigation.NavigateTo("admin-menu");
        // NavigationManager.NavigateTo("admin-menu");
    }

    private void ShowAlert(string message)
    {
        jsRuntime.InvokeVoidAsync("alert", message);
    }
}
