/* _content/AttendanceTrackerWeb/Pages/AdminMenu.razor.rz.scp.css */
.page[b-wnzqvo83c2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wnzqvo83c2] {
    flex: 1;
}

.sidebar[b-wnzqvo83c2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wnzqvo83c2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wnzqvo83c2]  a, .top-row .btn-link[b-wnzqvo83c2] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wnzqvo83c2] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wnzqvo83c2] {
        display: none;
    }

    .top-row.auth[b-wnzqvo83c2] {
        justify-content: space-between;
    }

    .top-row a[b-wnzqvo83c2], .top-row .btn-link[b-wnzqvo83c2] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wnzqvo83c2] {
        flex-direction: row;
    }

    .sidebar[b-wnzqvo83c2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wnzqvo83c2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wnzqvo83c2], article[b-wnzqvo83c2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AttendanceTrackerWeb/Pages/StaffMenu.razor.rz.scp.css */
.page[b-5pqauuflet] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5pqauuflet] {
    flex: 1;
}

.sidebar[b-5pqauuflet] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5pqauuflet] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5pqauuflet]  a, .top-row .btn-link[b-5pqauuflet] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5pqauuflet] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5pqauuflet] {
        display: none;
    }

    .top-row.auth[b-5pqauuflet] {
        justify-content: space-between;
    }

    .top-row a[b-5pqauuflet], .top-row .btn-link[b-5pqauuflet] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5pqauuflet] {
        flex-direction: row;
    }

    .sidebar[b-5pqauuflet] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5pqauuflet] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5pqauuflet], article[b-5pqauuflet] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AttendanceTrackerWeb/Shared/MainLayout.razor.rz.scp.css */
.page[b-eimcz1jm1p] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-eimcz1jm1p] {
    flex: 1;
}

.sidebar[b-eimcz1jm1p] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-eimcz1jm1p] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eimcz1jm1p]  a, .top-row .btn-link[b-eimcz1jm1p] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-eimcz1jm1p] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-eimcz1jm1p] {
        display: none;
    }

    .top-row.auth[b-eimcz1jm1p] {
        justify-content: space-between;
    }

    .top-row a[b-eimcz1jm1p], .top-row .btn-link[b-eimcz1jm1p] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eimcz1jm1p] {
        flex-direction: row;
    }

    .sidebar[b-eimcz1jm1p] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eimcz1jm1p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-eimcz1jm1p], article[b-eimcz1jm1p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AttendanceTrackerWeb/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-vriodh9b9s] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-vriodh9b9s] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-vriodh9b9s] {
    font-size: 1.1rem;
}

.oi[b-vriodh9b9s] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-vriodh9b9s] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-vriodh9b9s] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-vriodh9b9s] {
        padding-bottom: 1rem;
    }

    .nav-item[b-vriodh9b9s]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-vriodh9b9s]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-vriodh9b9s]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-vriodh9b9s] {
        display: none;
    }

    .collapse[b-vriodh9b9s] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-vriodh9b9s] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/AttendanceTrackerWeb/Shared/Sidebar.razor.rz.scp.css */
.page[b-28ansd5mju] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-28ansd5mju] {
    flex: 1;
}

.sidebar[b-28ansd5mju] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-28ansd5mju] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-28ansd5mju]  a, .top-row .btn-link[b-28ansd5mju] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-28ansd5mju] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-28ansd5mju] {
        display: none;
    }

    .top-row.auth[b-28ansd5mju] {
        justify-content: space-between;
    }

    .top-row a[b-28ansd5mju], .top-row .btn-link[b-28ansd5mju] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-28ansd5mju] {
        flex-direction: row;
    }

    .sidebar[b-28ansd5mju] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-28ansd5mju] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-28ansd5mju], article[b-28ansd5mju] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
